.goods-count {
  font-size: 16px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;

  .minus,
  .plus {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .minus {
    margin-right: 12.5px;
    border: 1px solid #e7bc19;
    &::before {
      content: '-';
    }
  }
  .plus {
    margin-left: 12.5px;
    background-color: #e7bc19;
    &::before {
      content: '+';
    }
  }
}
